<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.mnsx.store.dao.AddressMapper">
    <resultMap id="AddressEntityMap" type="top.mnsx.store.entity.Address">
        <id column="aid" property="aid"/>
        <result column="province_code" property="provinceCode"/>
        <result column="province_name" property="provinceName"/>
        <result column="city_code" property="cityCode"/>
        <result column="city_name" property="cityName"/>
        <result column="area_code" property="areaCode"/>
        <result column="area_name" property="areaName"/>
        <result column="is_default" property="isDefault"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="aid">
        INSERT INTO t_address (
            uid, name, province_name, province_code, city_name, city_code, area_name, area_code, zip,
            address, phone, tel,tag, is_default, created_user, created_time, modified_user, modified_time
        ) VALUES (
             #{uid}, #{name}, #{provinceName}, #{provinceCode}, #{cityName}, #{cityCode}, #{areaName},
             #{areaCode}, #{zip}, #{address}, #{phone}, #{tel}, #{tag}, #{isDefault}, #{createdUser},
             #{createdTime}, #{modifiedUser}, #{modifiedTime}
                 )
    </insert>

    <select id="countByUid" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            t_address
        WHERE
            uid=#{uid}
    </select>

    <select id="findByUid" resultMap="AddressEntityMap">
        SELECT * FROM t_address WHERE  uid = #{uid}
        ORDER BY is_default DESC, created_time DESC
    </select>

    <update id="updateNonDefault">
        UPDATE t_address
        SET is_default = 0
        WHERE uid = #{uid}
    </update>

    <update id="updateDefaultByAid">
        UPDATE t_address
        SET is_default = 1, modified_user = #{modifiedUser}, modified_time = #{modifiedTime}
        WHERE aid = #{aid}
    </update>

    <update id="updateAddressByAid">
        UPDATE t_address
        <set>
            <if test="address.name != null">
            name = #{address.name},
            </if>
            <if test="address.provinceName != null">
            province_name = #{address.provinceName},
            </if>
            <if test="address.provinceCode != null">
            province_code = #{address.provinceCode},
            </if>
            <if test="address.cityName != null">
            city_name = #{address.cityName},
            </if>
            <if test="address.cityCode != null">
            city_code = #{address.cityCode},
            </if>
            <if test="address.areaName != null">
            area_name = #{address.areaName},
            </if>
            <if test="address.areaCode != null">
            area_code = #{address.areaCode},
            </if>
            <if test="address.zip != null">
            zip = #{address.zip},
            </if>
            <if test="address.address != null">
            address = #{address.address},
            </if>
            <if test="address.phone != null">
            phone = #{address.phone},
            </if>
            <if test="address.tel != null">
            tel = #{address.tel},
            </if>
            <if test="address.tag != null">
            tag = #{address.tag}
            </if>
            <if test="address.modifiedUser != null">
            modified_user = #{address.modifiedUser}
            </if>
            <if test="address.modifiedTime != null">
            modified_time = #{address.modifiedTime}
            </if>
        </set>
        WHERE aid = #{address.aid}
    </update>

    <select id="findByAid" resultMap="AddressEntityMap">
        SELECT * FROM t_address WHERE aid = #{aid}
    </select>

    <delete id="deleteByAid">
        DELETE FROM t_address WHERE aid = #{aid}
    </delete>

    <select id="findLastModified" resultMap="AddressEntityMap">
        SELECT * FROM t_address
        WHERE uid = #{uid}
        ORDER BY modified_time DESC LIMIT 0, 1
    </select>
</mapper>
 